.menu{
    display: flex;
}
.menu li{
    position: relative;
    list-style: none;
}
.subMenu{
    display: none;
    position: absolute;
    top:15px;
    left:0;
    background-color: rgb(211, 207, 207);
}
.menu li:hover .subMenu{
    display: block;
}